<div id="deleteform">
    <form method="POST">
        <label for="confirm">are you sure you want to delete? </label>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="submit" name="confirm" value="DELETE">
    </form>
</div>