<div id="start">
    <h1>the github issue handler</h1>
    <div id="login">
        <p>we need to get your permission to interact with your github account. if you choose to allow we'll send you to log in over at their place.</p>
        <a href="/login/github">allow</a>
        <div id="info">
            <p>
                this site uses cookies. when you login with github we'll take that as a wonderful opportunity to save you as a user of our site as well, but
                there will be a big, red delete button if you want to remove yourself again. we do not save or have access to your github password at any point.
            </p>
        </div>
    </div>
</div>