::slotted([slot='brick']) {
    display: inline-block;
    max-width: 15%;
    max-height: 15%;
}

::slotted(.hide) {
    visibility: hidden;
}



.messages div {
    display: inline-block;
    width: 30%;
}


