a#container {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
::slotted([slot='subitem']) {
    display: block;
}
::slotted([slot='subitem']:focus), ::slotted([slot='subitem']:active), ::slotted([slot='subitem']:hover){
    background-color: black;
}
::slotted([hide]) {
    display: none;
}
#subitems {
    white-space: nowrap;
    margin-bottom: 0.2em;
}
