.window {
    border-style: solid;
    width: 10%;
    height: 5em;
    position: absolute;
    background-color: yellow;
}

#openWindows {
    border-style: solid;
    background-color: blue;
    width: 100%;
    height: 20em;
}
