:host {
    width: 30vw;
    height: 30vw;
    position: absolute;
    background-color: rgba(156, 141, 127, 0.56);
    border: solid black 5px;
    border-radius: 1em;
    border-image: url("/image/window.png") 10 8;
}
:host(:focus) {
    background-color: rgb(202, 187, 164);
}
:host([minimized]) {
    display: none;
}
a:visited {
    color: black;
}
a {
    text-decoration: none;
}
#bar {
    height: 10%;
    background-color: rgba(30, 27, 32, 0.74);
    overflow: auto;
}
::slotted([slot='icon']) {
    float: left;
}
#close, #minimize {
    float: right;
}
#menubar {
    height: 10%;
    background-color: white;
}
#content {
    text-align: center;
    height: 80%;
}
