:host {
    width: 30vw;
    height: 30vw;
    position: absolute;
    background-color: rgba(156, 141, 127, 0.56);
    border: solid black 5px;
    border-radius: 1em;
    border-image: url("/image/window.png") 10 8;
    display: flex;
    flex-direction: column;
}
:host(:focus) {
    background-color: rgb(202, 187, 164);
}
:host([minimized]) {
    display: none;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
#bar {
    flex: 1;
    padding: 2%;
    background-color: rgba(30, 27, 32, 0.74);
    color: white;
    overflow: auto;
}
::slotted([slot='icon']) {
    float: left;
    max-height: 90%;
}
#close, #minimize {
    margin: 2%;
    float: right;
}
#menubar {
    flex: 1;
    background-color: white;
}
#content {
    flex: 5;
    background-color: rgba(118, 118, 118, 0.64);
    text-align: center;
    margin: 2%;
    padding: 2%;
    border-radius: 1em;
}
