/*fonts*/
@font-face {
    font-family: 'journalregular';
    src: url("/image/journal-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'veteran_typewriterregular';
    src: url("/image/veteran_typewriter-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
/*end fonts*/


* {
    box-sizing: border-box;
    font-family: veteran_typewriterregular, serif;
    font-size: 100%;
    color: black;
}

html {
    overflow: hidden;
    height: 100%;
    font-size: 1.3em;
}

div, nav, p, body, html{
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

body {
    background-image: url("../image/background.jpg");
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#openWindows {
    flex: 1;
}

#windowSelector {
    display: flex;
    flex-direction: row;
    background-color: rgba(30, 27, 32, 0.74);
    width: 100%;
    flex-basis: content;
}

#windowSelector img {
    max-height: 10vh;
    background-color: antiquewhite;
    border-radius: 1em;
    margin-right: 0.5em;

}

#windowSelector expandable-menu-item {
    height: auto;
    margin: 0.5em;
    flex: 0 1 content;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 400px) {
    #windowSelector {
        font-size: 0.5em;
        overflow: scroll;
        justify-content: space-between;
    }

    draggable-window {
        width: 50vw;
        height: 50vw;
    }
}

