<form>
<label for="title">title:</label>
<input type="text" name="title" value="{{title}}">
<label for="content">content:</label>
<textarea title="content" name="content">{{body}}</textarea>
<input type="hidden" name="issue" value="{{id}}">
<input type="submit" value="save" data-action="{{action}}">
</form>